@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    height:100vh;
    font-family: 'Roboto', sans-serif;
    
    display: flex;
    flex-direction: column;
}

.header,.footer,.content{

}

a{
    text-decoration: none;
    color: white;
}

ul{
    list-style-type: none;
}

.header,.footer{
    display:flex;
    flex-grow:0;
}

.footer{
    height:50px;
}

.header{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
}

.header-links{
    display: flex;
    gap: 20px;
    padding-right: 10px;;
}

.header,.footer,.part-1{
    background-color: #1F2937;
    color: white;
}

.content{
    display:flex;
    flex-direction: column;
    flex-grow:1;
    justify-content: space-evenly;
}

.part-1,.part-2,.part-3,.part-4{
    display: flex;
    flex-grow: 1;
}

.part-2,.part-4{
    background-color: white;

}
.part-3{
    background-color: #E5E7EB;
}